.layout-header {
  background-color: #264653;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  color: #f4a261;
}

.layout-footer {
  background-color: #264653;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  color: #f4a261;
}

